@charset "utf-8";
/* CSS Document */

/* ==== Общие стили ==== */

body, html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background-color: #fff;
	color: #5A5A5A;
	
	margin: 0;
	padding: 0;
	min-width: 350px;
}

a {
	color: #5A5A5A;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
}

a:hover {
	text-decoration: none;
	color: #53B73F;
	position: relative;
}

a:focus {
	text-decoration: none;
	color: #53B73F;
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

.btn.btn-primary {
	background-color: #53B73F;
	border: 1px solid #53B73F;
	
	font-size: 18px;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
}

.btn.btn-primary:hover {
	background-color: #3CB31F;
	border: 1px solid #3CB31F;
	
	font-size: 18px;
}

header {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.row-margin-top {
	margin-top: 60px;
}

.col-margin-top {
	margin-top: 40px;
}

.large-text {
	font-size: 18px;
}

.text-justified {
	text-align: justify;
}


/* ==== КОНЕЦ: Общие стили ==== */


/* ==== Header ==== */


.start-background {
	height: 100%;
	width: 100%;
	
	background: url(../img/StartPicture.jpg) center;
	background-size: cover;
	background-position: center center;
	
	position: absolute;
}

.section-table {
	display: table;
	
	width: 100%;
    height: 100%;
}

.section-row {
	display: table-row;
}

.section-cell {
	display: table-cell;
	
	text-align: center;
    vertical-align: middle;
}

.section-center {
	display: inline-block;
}


/* ==== КОНЕЦ: Header ==== */

/* ==== Блок с примерами ==== */

.examples h2 {
	font-size: 32px;
}

.carousel-indicators li {
	background-color: #fff;
	border: 2px solid #3CB31F;
	width: 16px;
	height: 16px;
}

.carousel-indicators li.active {
	background-color: #3CB31F;
	width: 18px;
	height: 18px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	height: 330px;
}

.carousel-indicators {
	text-align: left;
	left: 45%;
}

.examples-gallery {
	margin-top: 30px;
}

/* ==== КОНЕЦ: Блок с примерами ==== */

/* ==== Блок с отзывами ==== */

.reports .report {
}

.reports .report .card {
	padding: 20px;
	width: 95%;
	height: 370px;
	overflow: hidden;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
}

.reports .report .card:hover {
	box-shadow: 0 0 16px 0px rgba(0, 0, 0, .5);
	
	-webkit-transform: scale(1.05);
	
	    -ms-transform: scale(1.05);
	
	        transform: scale(1.05);
}

.reports .report img {
	float: left;
}

.reports .report img + a {
	margin-top: 80px;
	margin-left: 50px;
	font-size: 18px;
	position: relative;
	top: 50px;
}

.reports .report img + a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #53B73F;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
	
	-webkit-transform: scale(0);
	
	    -ms-transform: scale(0);
	
	        transform: scale(0);
}

.reports .report img + a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #53B73F;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
	
	-webkit-transform: scale(0);
	
	    -ms-transform: scale(0);
	
	        transform: scale(0);
}

.reports .report img + a:hover:before {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

.reports .report .message p {
	clear: both;
	margin-top: 130px;
	margin-left: 30px;
}

.reports .report .message p + p {
	clear: both;
	margin: 0;
	font-size: 18px;
	text-indent: 30px;
}

/* ==== КОНЕЦ: Блок с отзывами ==== */

/* ==== Блок Reasons ==== */

.reasons .reason {
	width: 140px;
	height: 140px;
	border: 8px solid #53B73F;
	border-radius: 50%;
	position: relative;
	left: 23%;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
}

.reasons .reason span {
	position: absolute;
	font-size: 58px;
	top: 25%;
	left: 28%;
	color: #53B73F;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
}

.reasons .reason:hover span {
	color: #fff;
}

.reasons .reason:hover {
	border: 8px solid #fff;
	background-color: #53B73F;
}

.reasons h3 {
	font-size: 18px;
	padding: 10px;
}

/* ==== КОНЕЦ: Блок Reasons ==== */

/* ==== Блок объектов ==== */

.objects .card-object {
	padding: 20px;
	width: 95%;
	height: 290px;
	overflow: hidden;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
}

.objects .card-object img {
	float: left;
	margin: 10px;
}

.objects .card-object h3 {
	font-size: 20px;
	padding: 10px;
	
	-webkit-transition: all .5s ease-in-out;
	
	transition: all .5s ease-in-out;
}

.objects .card-object h3:hover {
	color: #53B73F;
	
	position: relative;
}

.objects .card-object p {
	font-size: 16px;
}


.objects .card-object:hover {
	box-shadow: 0 0 16px 0px rgba(0, 0, 0, .5);
	
	-webkit-transform: scale(1.05);
	
	    -ms-transform: scale(1.05);
	
	        transform: scale(1.05);
}

.date-object {
	padding: 10px;
	color: #53B73F;
}

.more-objects {
	color: #53B73F;
	
	transition: all .5s ease-in-out;
}

.more-objects:hover {
	transform: scale(1.1);
}

/* ==== КОНЕЦ: Блок объектов ==== */

/* ==== Блок акции ==== */

.timer p {
	display: inline-block;
	
	margin: 5px 20px;
	padding: 15px;
	
	width: 70px;
	height: 70px;
	
	font-size: 30px;
	
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
	
	border: 3px solid #5A5A5A;
	border-radius: 50%;
}

.prices p.price-old,
.prices p.price-new {
	display: inline-block;
	font-size: 30px;
	margin: 10px 20px;
}

.count-users {
	color: #53B73F;
	
	font-size: 22px;
}

/* ==== КОНЕЦ: Блок акции ==== */

/* ==== Блок записи ==== */

.groups-elements {
	position: relative;
}

.groups-elements .container-input {
	position: relative;
	height: auto;
}

.groups-elements .element-input {
	position: relative;
}


.element-input p.input-placeholder {
	position: absolute;
	top: 16%;
	left: 13px;
	display: none;
	
	-webkit-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
}

.element-input input {
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
}

.element-input div.input-undeline {
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: 3px;
	background-color: #53B73F;
	
	-webkit-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
	
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

/* ==== КОНЕЦ: Блок записи ==== */

/* ==== Footer ==== */

footer {
	background-color: #5A5A5A;
	color: #ABABAB;
}

footer h3 {
	color: #fff;
}

footer a {
	color: #53B73F;
}

footer .socian a img {
	-webkit-transition: all .5s ease-in-out;
					transition: all .5s ease-in-out;
}

footer .socian a img:hover {
	-webkit-transform: scale(1.25);
	    -ms-transform: scale(1.25);
	        transform: scale(1.25);
}

footer .payment a {
	margin-left: 0px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	-webkit-transition: all .5s ease-in-out;
					transition: all .5s ease-in-out;
}

footer .payment a:hover {
	-webkit-transform: scale(1.25);
	    -ms-transform: scale(1.25);
	        transform: scale(1.25);
}

.copy {
	background-color: #4E4E4E;
}

.copyright p {
	padding: 10px;
	margin: 0;
}

/* ==== КОНЕЦ: Footer ==== */


/* ==== Медиазапросы ==== */

@media only screen and (max-width: 1200px) {
	
}

@media only screen and (max-width: 992px) {
	.reasons .reason {
		width: 140px;
		height: 140px;
		border: 8px solid #53B73F;
		border-radius: 50%;
		position: relative;
		left: 38%;
		
		-webkit-transition: all .5s ease-in-out;
		
		transition: all .5s ease-in-out;
	}
	
	.examples .text-justified {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media only screen and (max-width: 767px) {
	.text-justified {
		padding: 10px;
	}
}

@media only screen and (max-width: 600px) {
	.section-center img {
		width: 40%;
	}
	
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
		height: 260px;
	}
}

@media only screen and (max-width: 500px) {
	.section-center img {
		width: 40%;
	}
	
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
		height: 230px;
	}
	
	.timer p:nth-child(3) {
		margin-left: 38px;
	}
}


@media only screen and (max-width: 400px) {
	
}

/* ==== КОНЕЦ: Медиазапросы ==== */